pkgbase = python-markdown
	pkgdesc = Python implementation of John Gruber's Markdown
	pkgver = 3.5.2
	pkgrel = 1
	url = https://python-markdown.github.io/
	arch = any
	license = BSD
	checkdepends = python-yaml
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-yaml: parse Python in YAML metadata
	source = python-markdown::git+https://github.com/Python-Markdown/markdown#commit=08dacae618775831243f6bbab47d9be590d511f2
	sha256sums = SKIP

pkgname = python-markdown
