pkgbase = python-markdown
	pkgdesc = Python implementation of John Gruber's Markdown
	pkgver = 3.6
	pkgrel = 3
	url = https://python-markdown.github.io/
	arch = any
	license = BSD
	checkdepends = python-yaml
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-yaml: parse Python in YAML metadata
	source = python-markdown::git+https://github.com/Python-Markdown/markdown#tag=3.6
	sha256sums = 17665ec53a4eed996420f13196d7510c34be95853837d834960f632a86478b73

pkgname = python-markdown
